@import url("https://fonts.googleapis.com/css?family=Nunito:600");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
/* body .player_inner, body .player_inner__middle .cube {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
} */

body .player_inner__middle .cube_inner > div {
  width: 100%;
  height: 380px;
  background: black;
  position: absolute;
  -webkit-transform-style: preserve-3D;
          transform-style: preserve-3D;
}


body .player_inner {
  background: #b21e13;
  /* width: 100%; */
  height: 100vh;
  /* max-height: 620px; */
  border-radius: 6px;
  -webkit-perspective: 800px;
          perspective: 800px;
}

body .player_inner__top {
  height: 70px;
  padding: 24px;
  /* background: url(Christmas.jpg); */
  background-size: 103% !important;
  margin-bottom: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h1 {  
  font-size: 30px !important;
}

body .player_inner__middle {
  position: relative;
  height: 380px;  
}

body .player_inner__middle .cube_inner > div:nth-of-type(1) {
  background: #b21e13;
}

body .player_inner__middle .cube_inner__front .bars {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: rotatez(180deg);
          transform: rotatez(180deg);
  width: 100%;
  z-index: 1;
}

body .player_inner__middle .cube_inner__front .bars_bar {
  width: 10px;
  background: rgb(255, 254, 254);
  opacity: 0.2;
  float: left;
  width: 10%;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(1) {
  -webkit-animation: eq 1s 32ms infinite ease-in-out;
          animation: eq 1s 32ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(2) {
  -webkit-animation: eq 1s 58ms infinite ease-in-out;
          animation: eq 1s 58ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(3) {
  -webkit-animation: eq 1s 48ms infinite ease-in-out;
          animation: eq 1s 48ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(4) {
  -webkit-animation: eq 1s 148ms infinite ease-in-out;
          animation: eq 1s 148ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(5) {
  -webkit-animation: eq 1s 25ms infinite ease-in-out;
          animation: eq 1s 25ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(6) {
  -webkit-animation: eq 1s 96ms infinite ease-in-out;
          animation: eq 1s 96ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(7) {
  -webkit-animation: eq 1s 245ms infinite ease-in-out;
          animation: eq 1s 245ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(8) {
  -webkit-animation: eq 1s 32ms infinite ease-in-out;
          animation: eq 1s 32ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(9) {
  -webkit-animation: eq 1s 144ms infinite ease-in-out;
          animation: eq 1s 144ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(10) {
  -webkit-animation: eq 1s 160ms infinite ease-in-out;
          animation: eq 1s 160ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(11) {
  -webkit-animation: eq 1s 330ms infinite ease-in-out;
          animation: eq 1s 330ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(12) {
  -webkit-animation: eq 1s 120ms infinite ease-in-out;
          animation: eq 1s 120ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(13) {
  -webkit-animation: eq 1s 143ms infinite ease-in-out;
          animation: eq 1s 143ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(14) {
  -webkit-animation: eq 1s 154ms infinite ease-in-out;
          animation: eq 1s 154ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(15) {
  -webkit-animation: eq 1s 465ms infinite ease-in-out;
          animation: eq 1s 465ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(16) {
  -webkit-animation: eq 1s 128ms infinite ease-in-out;
          animation: eq 1s 128ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(17) {
  -webkit-animation: eq 1s 85ms infinite ease-in-out;
          animation: eq 1s 85ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(18) {
  -webkit-animation: eq 1s 576ms infinite ease-in-out;
          animation: eq 1s 576ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(19) {
  -webkit-animation: eq 1s 551ms infinite ease-in-out;
          animation: eq 1s 551ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(20) {
  -webkit-animation: eq 1s 60ms infinite ease-in-out;
          animation: eq 1s 60ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(21) {
  -webkit-animation: eq 1s 798ms infinite ease-in-out;
          animation: eq 1s 798ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(22) {
  -webkit-animation: eq 1s 880ms infinite ease-in-out;
          animation: eq 1s 880ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(23) {
  -webkit-animation: eq 1s 644ms infinite ease-in-out;
          animation: eq 1s 644ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(24) {
  -webkit-animation: eq 1s 360ms infinite ease-in-out;
          animation: eq 1s 360ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(25) {
  -webkit-animation: eq 1s 225ms infinite ease-in-out;
          animation: eq 1s 225ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(26) {
  -webkit-animation: eq 1s 702ms infinite ease-in-out;
          animation: eq 1s 702ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(27) {
  -webkit-animation: eq 1s 594ms infinite ease-in-out;
          animation: eq 1s 594ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(28) {
  -webkit-animation: eq 1s 840ms infinite ease-in-out;
          animation: eq 1s 840ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(29) {
  -webkit-animation: eq 1s 754ms infinite ease-in-out;
          animation: eq 1s 754ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(30) {
  -webkit-animation: eq 1s 570ms infinite ease-in-out;
          animation: eq 1s 570ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(31) {
  -webkit-animation: eq 1s 775ms infinite ease-in-out;
          animation: eq 1s 775ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(32) {
  -webkit-animation: eq 1s 224ms infinite ease-in-out;
          animation: eq 1s 224ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(33) {
  -webkit-animation: eq 1s 924ms infinite ease-in-out;
          animation: eq 1s 924ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(34) {
  -webkit-animation: eq 1s 918ms infinite ease-in-out;
          animation: eq 1s 918ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(35) {
  -webkit-animation: eq 1s 1400ms infinite ease-in-out;
          animation: eq 1s 1400ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(36) {
  -webkit-animation: eq 1s 72ms infinite ease-in-out;
          animation: eq 1s 72ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(37) {
  -webkit-animation: eq 1s 740ms infinite ease-in-out;
          animation: eq 1s 740ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(38) {
  -webkit-animation: eq 1s 1406ms infinite ease-in-out;
          animation: eq 1s 1406ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(39) {
  -webkit-animation: eq 1s 1014ms infinite ease-in-out;
          animation: eq 1s 1014ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(40) {
  -webkit-animation: eq 1s 800ms infinite ease-in-out;
          animation: eq 1s 800ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(41) {
  -webkit-animation: eq 1s 1476ms infinite ease-in-out;
          animation: eq 1s 1476ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(42) {
  -webkit-animation: eq 1s 294ms infinite ease-in-out;
          animation: eq 1s 294ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(43) {
  -webkit-animation: eq 1s 1720ms infinite ease-in-out;
          animation: eq 1s 1720ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(44) {
  -webkit-animation: eq 1s 704ms infinite ease-in-out;
          animation: eq 1s 704ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(45) {
  -webkit-animation: eq 1s 1215ms infinite ease-in-out;
          animation: eq 1s 1215ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(46) {
  -webkit-animation: eq 1s 46ms infinite ease-in-out;
          animation: eq 1s 46ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(47) {
  -webkit-animation: eq 1s 1786ms infinite ease-in-out;
          animation: eq 1s 1786ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(48) {
  -webkit-animation: eq 1s 1872ms infinite ease-in-out;
          animation: eq 1s 1872ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(49) {
  -webkit-animation: eq 1s 1372ms infinite ease-in-out;
          animation: eq 1s 1372ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(50) {
  -webkit-animation: eq 1s 1600ms infinite ease-in-out;
          animation: eq 1s 1600ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(51) {
  -webkit-animation: eq 1s 1785ms infinite ease-in-out;
          animation: eq 1s 1785ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(52) {
  -webkit-animation: eq 1s 1144ms infinite ease-in-out;
          animation: eq 1s 1144ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(53) {
  -webkit-animation: eq 1s 1802ms infinite ease-in-out;
          animation: eq 1s 1802ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(54) {
  -webkit-animation: eq 1s 54ms infinite ease-in-out;
          animation: eq 1s 54ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(55) {
  -webkit-animation: eq 1s 770ms infinite ease-in-out;
          animation: eq 1s 770ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(56) {
  -webkit-animation: eq 1s 1456ms infinite ease-in-out;
          animation: eq 1s 1456ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(57) {
  -webkit-animation: eq 1s 1938ms infinite ease-in-out;
          animation: eq 1s 1938ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(58) {
  -webkit-animation: eq 1s 696ms infinite ease-in-out;
          animation: eq 1s 696ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(59) {
  -webkit-animation: eq 1s 1239ms infinite ease-in-out;
          animation: eq 1s 1239ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(60) {
  -webkit-animation: eq 1s 180ms infinite ease-in-out;
          animation: eq 1s 180ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(61) {
  -webkit-animation: eq 1s 732ms infinite ease-in-out;
          animation: eq 1s 732ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(62) {
  -webkit-animation: eq 1s 62ms infinite ease-in-out;
          animation: eq 1s 62ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(63) {
  -webkit-animation: eq 1s 1071ms infinite ease-in-out;
          animation: eq 1s 1071ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(64) {
  -webkit-animation: eq 1s 128ms infinite ease-in-out;
          animation: eq 1s 128ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(65) {
  -webkit-animation: eq 1s 1950ms infinite ease-in-out;
          animation: eq 1s 1950ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(66) {
  -webkit-animation: eq 1s 660ms infinite ease-in-out;
          animation: eq 1s 660ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(67) {
  -webkit-animation: eq 1s 1943ms infinite ease-in-out;
          animation: eq 1s 1943ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(68) {
  -webkit-animation: eq 1s 1020ms infinite ease-in-out;
          animation: eq 1s 1020ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(69) {
  -webkit-animation: eq 1s 1587ms infinite ease-in-out;
          animation: eq 1s 1587ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(70) {
  -webkit-animation: eq 1s 630ms infinite ease-in-out;
          animation: eq 1s 630ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(71) {
  -webkit-animation: eq 1s 1917ms infinite ease-in-out;
          animation: eq 1s 1917ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(72) {
  -webkit-animation: eq 1s 936ms infinite ease-in-out;
          animation: eq 1s 936ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(73) {
  -webkit-animation: eq 1s 2628ms infinite ease-in-out;
          animation: eq 1s 2628ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(74) {
  -webkit-animation: eq 1s 1258ms infinite ease-in-out;
          animation: eq 1s 1258ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(75) {
  -webkit-animation: eq 1s 2550ms infinite ease-in-out;
          animation: eq 1s 2550ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(76) {
  -webkit-animation: eq 1s 1216ms infinite ease-in-out;
          animation: eq 1s 1216ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(77) {
  -webkit-animation: eq 1s 2695ms infinite ease-in-out;
          animation: eq 1s 2695ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(78) {
  -webkit-animation: eq 1s 2262ms infinite ease-in-out;
          animation: eq 1s 2262ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(79) {
  -webkit-animation: eq 1s 3081ms infinite ease-in-out;
          animation: eq 1s 3081ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(80) {
  -webkit-animation: eq 1s 3040ms infinite ease-in-out;
          animation: eq 1s 3040ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(81) {
  -webkit-animation: eq 1s 2997ms infinite ease-in-out;
          animation: eq 1s 2997ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(82) {
  -webkit-animation: eq 1s 328ms infinite ease-in-out;
          animation: eq 1s 328ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(83) {
  -webkit-animation: eq 1s 830ms infinite ease-in-out;
          animation: eq 1s 830ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(84) {
  -webkit-animation: eq 1s 1008ms infinite ease-in-out;
          animation: eq 1s 1008ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(85) {
  -webkit-animation: eq 1s 3230ms infinite ease-in-out;
          animation: eq 1s 3230ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(86) {
  -webkit-animation: eq 1s 946ms infinite ease-in-out;
          animation: eq 1s 946ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(87) {
  -webkit-animation: eq 1s 1305ms infinite ease-in-out;
          animation: eq 1s 1305ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(88) {
  -webkit-animation: eq 1s 2728ms infinite ease-in-out;
          animation: eq 1s 2728ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(89) {
  -webkit-animation: eq 1s 1780ms infinite ease-in-out;
          animation: eq 1s 1780ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(90) {
  -webkit-animation: eq 1s 2790ms infinite ease-in-out;
          animation: eq 1s 2790ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(91) {
  -webkit-animation: eq 1s 819ms infinite ease-in-out;
          animation: eq 1s 819ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(92) {
  -webkit-animation: eq 1s 2116ms infinite ease-in-out;
          animation: eq 1s 2116ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(93) {
  -webkit-animation: eq 1s 1860ms infinite ease-in-out;
          animation: eq 1s 1860ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(94) {
  -webkit-animation: eq 1s 752ms infinite ease-in-out;
          animation: eq 1s 752ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(95) {
  -webkit-animation: eq 1s 2755ms infinite ease-in-out;
          animation: eq 1s 2755ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(96) {
  -webkit-animation: eq 1s 1824ms infinite ease-in-out;
          animation: eq 1s 1824ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(97) {
  -webkit-animation: eq 1s 2328ms infinite ease-in-out;
          animation: eq 1s 2328ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(98) {
  -webkit-animation: eq 1s 784ms infinite ease-in-out;
          animation: eq 1s 784ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(99) {
  -webkit-animation: eq 1s 2574ms infinite ease-in-out;
          animation: eq 1s 2574ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(100) {
  -webkit-animation: eq 1s 500ms infinite ease-in-out;
          animation: eq 1s 500ms infinite ease-in-out;
}
body .player_inner__middle .cube_inner__front .details {
  color: white;
  text-align: center;
}

body .player_inner__middle .cube_inner__front .details h2 {
  font-size: 15px;
  font-weight: 450;
  margin: auto;
}

body .player_inner__bottom .controls_left {
  float: left;
  width: 30%;
  text-align: right;
  font-size: 20px;
  color: white;
  position: relative;
  top: 20px;
}

body .player_inner__bottom .controls_middle {
  float: left;
  width: 40%;
  font-size: 50px;
  color:white;
  text-align: center;
}
body .player_inner__bottom .controls_right {
  float: right;
  position: relative;
  top: 20px;
  width: 30%;
  font-size: 20px;
  color: white;
  text-align: left;
}

body .player_inner__bottom .options {
  text-align: center;    
  margin-bottom: 40px;
}

@-webkit-keyframes eq {
  0% {
    height: 30px;
  }
  50% {
    height: 100px;
  }
  100% {
    height: 30px;
  }
}

@keyframes eq {
  0% {
    height: 30px;
  }
  50% {
    height: 100px;
  }
  100% {
    height: 30px;
  }
}

h1 {
  font-family: 'Cookie', cursive;
  font-size: 80px;
  text-align: center;
  color: white;
  letter-spacing: 3px;
}

#btnpause {
  display: none;
}

.drop {
  position: absolute;
  top: 0;
  z-index: 1;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px #FFF;
}

.animate {
  animation: falling 5.7s infinite ease-in;
}

@keyframes falling {
  0% {
    top: -10px;
  }
  10% {
    transform: translateX(-5px);
  }
  20% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  70% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(-5px);
  }
  90% {
    transform: translateX(5px);
  }
  95% {
    opacity: 1;
  }
  100% {
    top: 95vh;
    opacity: 0;
  }
}



#btnlike {
  color: rgba(255,255,255,0.8);
  font-size: 20px;
}

#image_album {
  /* position: absolute; */
  /* width: 50%; */
  /* height: 50%; */
  width: 190px;
  height: 190px;
  margin: 40px auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.8);
  border-radius: 100%;
  border: 3px solid #fff;
}

.player_inner__bottom {
  position: absolute;
  bottom: 50px;
  width: 100%;
}
.rotate {
  -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 7s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#playlistWrapper{
  display:none;
}
